.menu-border {
  position: absolute;
  top: 5%;
  height: 90%;
  border-top-left-radius: 8px;
  border-top: 3px solid var(--pageColor2);
  border-left: 3px solid var(--pageColor2);
}

.vmenu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--pageFont);
  font-size: medium;
  overflow: auto;
}

.vmenu ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-left: 0px;
  text-align: center;
}

.vmenu ul > li {
  padding: 10px 20px;
}

@media only screen and (max-width: 600px) {
  .menu-border {
    top: 0;
    left: 5%;
    width: 90%;
    height: min-content;
    border-top: none;
    border-left: none;
  }

  .vmenu {
    height: min-content;
    width: 100%;
  }

  .vmenu ul {
    display: flex;
  }
  .vmenu ul > li {
    display: inline-block;
  }
}


.vmenu ul > li:hover {
  background-color: var(--pageColor5);
}

.vmenu ul > li > a {
  text-decoration: none;
}

.active-option {
  background-color: var(--pageColor5);
}

.vmenu-textx {
  margin-block-start: 13px;
  margin-block-end: 13px;
}
